#body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    background-color: #eef4ed;
    
}

select, option {
    text-transform:capitalize;
}

label {
    margin: 6px;
}

.header {
    display: flex;
    flex-direction: column;
}


.title {
    font-family: 'Limelight', cursive;
    margin-top: 20%;
    color: #8da9c4;
    margin-bottom: -30px;
    font-size: 90pt;
}

.subtitle {
    font-size: 30pt;
    color: #0b2545;
}

.controls {
    position: absolute;
    bottom: 20%;
}

.btn-generic {
    background-color: #134074;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    width: 220px;
    height: 40px;
    align-content: center;
    vertical-align: middle;
    box-shadow: 3px 7px 8px -8px #13407460;
    -webkit-box-shadow: 3px 7px 8px -8px #13407460;
    -moz-box-shadow: 3px 7px 8px -8px #13407460;
    transition: box-shadow 0.5s ease;
}


.btn-generic:hover{
    box-shadow: 3px 7px 10px 1px #1340743a;
    -webkit-box-shadow: 3px 7px 10px 1px #1340743a;
    -moz-box-shadow: 3px 7px 10px 1px #1340743a;
    transform: scale(1.01); 
    transition: all 0.5s ease;
}

.btn-generic:active {
    background-color: #0b2545;
}

.btn-generic:disabled {
    background-color: #8da9c4;
}

.display {
    border-radius: 65% 35% 70% 30% / 52% 54% 46% 48% ;
    border: 2px solid #8da9c4;
    color: #0b2545;
    width: 40%;
    margin: 20px;
    padding: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.categ-select-group {
    margin: 12px;
    vertical-align: middle;
}

#categories {
    color: #134074;
    text-transform:capitalize;
    font-family: 'Limelight', cursive;
    padding-top: 20px;
}