#body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    line-height: 1.5;
    font-family: 'Baloo Tammudu 2', cursive;
    /* background-color: #1983c4c5; */
    
}

select, option {
    text-transform:capitalize;
}

label {
    margin: 6px;
}


.title {
    margin-top: 40px;
    font-weight: 700;
    font-size: 17vw;
    color: #1982c4;
    margin-bottom: -105px;
}

.controls {
    position: absolute;
    bottom: 20%;
}

.btn-generic {
    background-color: #8ac926;
    border: none;
    border-radius: 5px;
    font-family: 'Baloo Tammudu 2', cursive;
    color: white;
    font-size: medium;
    width: 200px;
    height: 40px;
    padding-top: 4%;
    align-content: center;
    vertical-align: middle;
}

.btn-generic:active {
    background-color: #6a991f;
}

.btn-generic:disabled {
    background-color: #a8a8a8;
}

.display {
    border-radius: 65% 35% 70% 30% / 52% 54% 46% 48% ;
    border: 1px solid white;
    background-color: #1982C4;
    color: white;
    width: 40%;
    margin: 20px;
    padding: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.categ-select-group {
    margin: 12px;
    vertical-align: middle;
}

#categories {
    color: #FFCA3A;
    text-transform:capitalize;
    padding-top: 20px;
}